[Unit]
Description=Battery MQTT Monitor
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/battery-mqtt-monitor

[Install]
WantedBy=multi-user.target
